 @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");
 @import "tailwindcss";

 @theme {
   --font-inter: "Inter", "sans-serif";
   --breakpoint-3xl: 120rem;
   --color-lwsGreen: "#00D991";
   --color-deepDark: "#17181C";
   --color-mediumDark: "#1E1F24";
   --color-lighterDark: "#27292F";
 }